# Ignore Gradle project-specific cache directory
../../.gradle
# Ignore Gradle build output directory
build
# Ignore Gradle project-specific cache directory
.gradle
# Ignore idea files
.idea
#Ignore Generated tokens
tokens
#Ignore gradle batch file
gradlew.bat